doctype html
html
  head
    title Annette Redhead
    link(rel='stylesheet', href='/stylesheets/home_style.css')
  body
    .main
      div
        h1#logo Annette Redhead
        a(href="/blog")#button 
          p#click_here Click here
